* {
	border: none;
	border-radius: 0;
	font-family: FontAwesome;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 10px;
	border: 2px solid white;
	background: #2c3640;
	transition: width 1s;
}

#workspaces button {
	transition: none;
	color: #ffffff;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #cb74e0;
}

#pulseaudio {

    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
	border: 2px solid white;
    border-radius: 10px;
    transition: none;
    color: #FFFFFF;
    background: #2c3640;
    min-width: 70px;
    margin-left: 5px;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 10px;
	border: 2px solid rgb(255, 255, 255);
	transition: none;
	color: #FFFFFF;
	background: #2c3640;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border: 2px solid white;
	border-radius: 10px;
	transition: none;
	color: #f8fbfd;
	background: #2c3640;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 10px;
	transition: none;
	border: 2px solid white;
	color: #f8fbfd;
	background: #2c3640;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 80px;
    margin-left: 5px;
    border-radius: 10px;
    border-color: white;
    background-color: #2c3640;
    border: 2px solid white;
}

#pulseaudio-slider highlight {
    border-radius: 10px;
    border-color: white;
    background-color: #9aedfe;
}

#battery {
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: none;
    color: #FFFFFF;
    background: #2c3640;
}
